<p-scrollPanel  class="unscrollable-x" styleClass="bg-white-alpha-20 border-round sm:mx-1 md:mx-2 lg:mx-3 mt-3" [style]="{ height: '9em'}">
  <div class="flex h-full">
    <p-card id="hourly-forecast" class="flex pr-1 flex-column justify-content-center align-items-center h-full" *ngFor="let item of forecastData.list">
      <div class="flex text-center align-items-center justify-content-center h-3rem">{{formatDate(item.dt*1000,"E","en")}}<br>{{formatDate(item.dt*1000,"HH","en")}}</div>
      <div class="flex align-items-center justify-content-center h-3rem"><img src="assets/{{item.weather[0].icon}}.png" class="h-2rem"></div>
      <div class="flex align-items-center justify-content-center h-3rem">{{item.main.temp|number:"1.0-0"}}°</div>
    </p-card>
  </div>
</p-scrollPanel>
