



<div class="flex flex-wrap" *ngIf="weatherData!==undefined">
  <div
    class="flex flex-1 align-items-center justify-content-center h-4rem font-bold text-center  m-1 "
    style="min-width: 350px; min-height: 150px;">
    <div class="flex flex-1 justify-content-center ">
      <img src="{{iconUrl(weatherData.weather[0].icon)}}" class="h-8rem">

    </div>

    <div class="flex flex-1 justify-content-center align-content-center flex-column">
      <p class="text-white text-8xl line-height-1 font-light m-0">{{this.weatherData.main.temp | number:'1.0-0'}}°</p>
      <p
        class="m-0 text-2xl text-white font-light">{{weatherData.weather.at(0)?.description | titlecase}}</p>
    </div>
  </div>

  <div *ngIf="weatherData"
    class="justify-content-center align-items-center flex flex-1 h-4rem font-bold text-center  m-1 mt-3"
    style="min-width: 350px; min-height: 150px">
    <div class="grid h-full align-items-center">

      <div class="flex-column flex text-center border-round-sm font-light col-4 ">{{weatherData.main.temp_max|number:'1.0-0'}}°<br>Yüksek</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4 ">{{weatherData.main.temp_min|number:'1.0-0'}}°<br>Düşük</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4 ">{{eptoTime(this.weatherData.sys.sunrise)}}<br>Sunrise</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4 ">{{eptoTime(this.weatherData.sys.sunset)}}<br>Sunset</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4 "*ngIf="weatherData.rain">{{weatherData.rain["1h"]|number:'1.0-0'}}%<br>Rain</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4 "*ngIf="weatherData.rain==undefined">0%<br>Rain</div>
      <div class="flex-column flex text-center border-round-sm font-light col-4">{{weatherData.wind.speed|number:'1.0-0'}} kmh<br>Wind</div>
    </div>
  </div>
</div>



